/* Header */
@import url("https://fonts.googleapis.com/css2?family=Lisu+Bosa:wght@600;800&family=Poppins:wght@400;500;600;700&display=swap");

:root {
    --primary-color: #0a0d14;
    --primary-color-light: #20242f;
    --secondary-color: #f49e09;
    --extra-light: rgba(255, 255, 255, 0.5);
    --white: #ffffff;
    --max-width: 1200px;
    --header-font: "Lisu Bosa", serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section__header {
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 800;
    font-family: var(--header-font);
    text-align: center;
}

.section__subheader {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.btn {
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    cursor: pointer;
}

img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}
p {
    color: var(--secondary-color);
}
h2 {
    color: var(--secondary-color);
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--white);
    background-color: var(--primary-color);
}

header {
    background-image: linear-gradient(to top, var(--primary-color), transparent),
    url("assets/banner.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid var(--extra-light);
}

.nav__bar {
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav__logo a {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white);
}

.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link a {
    padding: 1.5rem 5px;
    font-weight: 500;
    color: var(--white);
    transition: 0.3s;
}

.link a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

.link span {
    padding: 1rem 0;
    color: var(--white);
    cursor: pointer;
}

.header__container {
    padding: 12rem 1rem;
}

.header__container h1 {
    margin-bottom: 1rem;
    max-width: 700px;
    font-size: 4rem;
    font-family: var(--header-font);
}

.header__container h4 {
    position: relative;
    margin-left: 3rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: 500;
}

.header__container h4::after {
    position: absolute;
    content: "";
    left: -3rem;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    width: 2rem;
    background-color: var(--white);
}

/* Auth Container */
.auth-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.auth-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toggle-buttons button {
    background-color: #1e1e1e;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.toggle-buttons button:hover {
    background-color: #444;
}

form {
    width: 100%;
    margin-top: 0px;
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #1e1e1e;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #444;
}

.switch-text {
    text-align: center;
    margin-top: 10px;
}

.switch-text span {
    color: #1e1e1e;
    cursor: pointer;
    font-weight: bold;
}

/* Active form visibility */
#signInForm {
    display: block;
}

#signUpForm {
    display: none;
}
